footer .icons a {
  color: var(--bs-secondary);
}

ul.alt li a {
  color: var(--bs-secondary);
}

footer ul.icons a:hover {
  color: var(--bs-white);
  text-decoration: none;
}

ul.alt li a:hover {
  color: var(--bs-white);
}

ul.alt li {
  border-bottom: solid 1px var(--bs-tertiary-bg);
  padding: 0.5rem 0;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.icons {
  list-style: none;
  padding-left: 0;
  font-size: 1.4rem;
}

ul.icons li {
  display: inline-block;
}
