.navbar-nav .nav-item .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--bs-border-radius-pill);
}

.navbar-nav .nav-item:not(.nav-hash) .nav-link.router-link-active.router-link-exact-active {
  color: var(--dark-color);
  background-color: var(--white-color);
  text-decoration: none;
}

.navbar .dropdown-item:hover, .navbar .nav-link:hover {
  text-decoration: underline;
}
