.sojourn { background-color: rgb(84, 88, 119); }
.celestigram { background-color: rgb(38, 54, 82); }
.limit { background-color: rgb(20, 57, 125); }
.starrysphere { background-color: rgb(75, 51, 117); }
.choices { background-color: rgb(207, 119, 103); }
.the-songs-of-yesterday { background-color: rgb(64, 88, 92); }
.dont-take-me { background-color: rgb(26, 4, 6); }
.reminiscences { background-color: rgb(161, 106, 64); }
.meaningful { background-color: rgb(234, 161, 166); }
.sad-songs-remix { background-color: rgb(37, 13, 67); }
.up-above { background-color: rgb(180, 215, 220); }
.aura { background-color: rgb(226, 154, 163); }
.\35-months-ago { background-color: rgb(41, 37, 36); }
.traveler-in-time { background-color: rgb(33, 25, 44); }
.traveler-in-time { background-color: rgb(33, 25, 44); }
.autumn-leaves-fall-remix { background-color: rgb(197, 170, 230); }
.wonderland-remix { background-color: rgb(54, 57, 63); }
.let-me-go { background-color: rgb(36, 41, 46); }
.fade-away { background-color: rgb(57, 81, 88); }
.snowflake-remix { background-color: rgb(4, 31, 59); }
.afterglow { background-color: rgb(12, 21, 25); }
.afterglow-remix { background-color: rgb(12, 19, 22); }
.call-out { background-color: rgb(44, 52, 61); }
.call-out { background-color: rgb(44, 52, 61); }
.feeling { background-color: rgb(67, 66, 62); }
.just-stay { background-color: rgb(126, 147, 206); }
.i-will-someday { background-color: rgb(197, 188, 190); }
.paying-for-it { background-color: rgb(199, 208, 212); }
.fly-again { background-color: rgb(74, 140, 205); }
.stay-remix { background-color: rgb(54, 166, 230); }
.worthy-of-life { background-color: rgb(54, 39, 24); }
.euphoria-remix { background-color: rgb(198, 165, 181); }
.hold-on-to-me { background-color: rgb(163, 172, 98); }
.who-am-i-without-you { background-color: rgb(72, 65, 137); }
.out-there { background-color: rgb(141, 141, 146); }
.otherworld-remix { background-color: rgb(41, 18, 53); }
.two-ways { background-color: rgb(38, 29, 21); }
.escape-with-you-remix { background-color: rgb(166, 172, 218); }
.experiences-album { background-color: rgb(30, 31, 35); }
.experiences-album { background-color: rgb(30, 31, 35); }
.experiences-album { background-color: rgb(30, 31, 35); }
.experiences-album { background-color: rgb(30, 31, 35); }
.experiences-album { background-color: rgb(30, 31, 35); }
.experiences-album { background-color: rgb(30, 31, 35); }
.experiences-album { background-color: rgb(30, 31, 35); }
.exhilaration-remix { background-color: rgb(156, 186, 230); }
.sign-of-time { background-color: rgb(86, 88, 50); }
.fantasy-remix { background-color: rgb(239, 239, 247); }
.celeste { background-color: rgb(131, 195, 208); }
.turns-to-dust-remix { background-color: rgb(45, 37, 47); }
.maybe-remix { background-color: rgb(135, 123, 161); }
.quity { background-color: rgb(228, 223, 216); }
.floating { background-color: rgb(224, 130, 127); }
.mists { background-color: rgb(224, 130, 127); }
.shades { background-color: rgb(224, 130, 127); }
.what-awaits-us { background-color: rgb(224, 130, 127); }
.gris-remix { background-color: rgb(65, 54, 94); }
.demure { background-color: rgb(154, 138, 191); }
.glare { background-color: rgb(133, 70, 151); }
.heartbeat { background-color: rgb(61, 42, 47); }
.moonlit-lover { background-color: rgb(81, 104, 110); }
.moonlit-lover-piano { background-color: rgb(80, 104, 110); }
.bliss { background-color: rgb(30, 32, 51); }
.timeline-bayza-remix { background-color: rgb(45, 34, 34); }
.seeker { background-color: rgb(250, 231, 220); }
.the-dream { background-color: rgb(52, 53, 60); }
.timeline { background-color: rgb(46, 34, 34); }
.vicious-mind { background-color: rgb(45, 49, 42); }
.among-us { background-color: rgb(206, 185, 173); }
.breathe { background-color: rgb(177, 109, 139); }
.fanciful { background-color: rgb(128, 84, 125); }
.white-dwarf { background-color: rgb(135, 25, 59); }
.magical-forest { background-color: rgb(173, 189, 223); }
