.table {
  --bs-table-color: inherit;
  --bs-table-bg: transparent;

  margin: 0;
}

.table th {
  padding: 1rem;
  border-top: none;
  border-color: var(--bs-secondary);
  font-weight: normal;
}

tbody tr:hover {
  background: var(--bs-body-bg);
  color: var(--bs-white);
}

.table td {
  border-color: var(--bs-secondary);
  border-width: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
