body {
    background: #292929;
    overflow-x: hidden;
    margin: 0;
}

/* Music Player */
*:focus{
    outline: none;
}
.music-player {
    display: block;
    position: absolute;
    width: 100%;
    height: 380px;
}

.cover {
    float: left;
    width: 100%;
    height: 66%;
    pointer-events: none;
}
.cover img{
    display: block;
    position: relative;
    top: 89px;
    width: 282px;
    left: 0px;
    margin: auto;
    text-align: center;
}
.titre {
    float: left;
    width: 100%;
}
.lecteur {
    width: 300px;
    height: auto;
    position: absolute;
    display: block;
    float: left;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    bottom: 58px;
}
.mejs__button>button:focus {
    outline: 0px dotted #999;
}
.mejs__container {
    position: relative;
    background-color: transparent;
    min-width: auto !important;
}
.mejs__controls {
    padding: 0 10%;
    background: transparent !important;
    display: block;
    position: relative;
}
.mejs__controls div {
    display: block;
    float: left;
    position: relative;
    top: -224px;
}
.mejs__controls .mejs__playpause-button {
    position: absolute !important;
    right: 80%;
    top: -615%;
    width: 40px;
}
.mejs__controls .mejs__playpause-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 23px;
    color: #fff;
    background: transparent;
    padding: 0;
    margin: 0;
}
.mejs__controls .mejs__play button:before{
    content:"\f04b";
}
.mejs__controls .mejs__pause button:before{
    content:"\f04c";
}

.mejs__controls .mejs__replay button:before{
    content:"\f2f9";
}

.mejs__controls .mejs__volume-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 20px;
    color: #fff;
    background: transparent;
    margin: 0;
    padding: 0;
}
.mejs__controls .mejs__mute button:before {
    content: "\f028";
}
.mejs__controls .mejs__unmute button:before {
    content: "\f026";
}
.mejs__controls .mejs__time {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0%;
    color: #fff;
    height: auto;
    padding: 0;
    overflow: visible;
    min-width: 100%;
}
.mejs__controls .mejs__time span {
    font-size: 12px;
}
.mejs__controls span.mejs__duration {
    float: right;
    text-align: right;
    color: #ccc;
}
.mejs__controls span.mejs__currenttime {
    font-weight: 700;
    float: left;
}
.mejs__controls .mejs__time-rail {
    width: 100%;
    margin: 0;
}
.mejs__controls .mejs__time-rail span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    border-radius: 50px;
    cursor: pointer;
}
.mejs__controls .mejs__time-rail .mejs__time-loaded {
    background: rgba(255,255,255,0.2);
}
.mejs__controls .mejs__time-rail .mejs__time-float {
    display: none;
    top: -40px;
    width: 40px;
    height: 25px;
    margin-left: 0px;
    text-align: center;
    font-size: 10px;
    background: #fff;
    border: 0;
}
.mejs__controls .mejs__time-rail .mejs__time-float-current {
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    line-height: 26px;
    color: #100d28;
}
.mejs__controls .mejs__time-rail .mejs__time-float-corner {
    top: auto;
    bottom: -9px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.mejs__controls .mejs__time-rail .mejs__time-current {
    background: #fff none repeat scroll 0 0;
}
.mejs__controls .mejs__time-handle {
    display: none;
}
.mejs__controls .mejs__volume-button {
    position: relative;
    position: absolute !important;
    top: 70px;
    right: 28%;
    width: 40px;
    height: 40px;
    top: -247px;
}
.mejs__controls .mejs__horizontal-volume-slider {
    display: block;
    position: absolute !important;
    position: relative;
    top: -247px;
    right: 10%;
    width: 60px;
    height: 4px;
    margin-top: 18px;
    border-radius: 50px;
    line-height: 11px;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    background: #fff;
}


/* Track Styles */
.maybe-remix {
    background: transparent linear-gradient(to bottom,rgb(92, 98, 146) 21%,rgb(23, 23, 23) 0%) repeat scroll 0 0;
}

.quity {
    background: transparent linear-gradient(to bottom,rgb(89, 68, 49) 21%,rgb(12, 12, 12) 0%) repeat scroll 0 0;
}

.floating-ep {
    background: transparent linear-gradient(to bottom,rgb(220, 114, 114) 21%,rgb(47, 19, 17) 0%) repeat scroll 0 0;
}

.gris-remix {
    background: transparent linear-gradient(to bottom,rgb(76, 20, 25) 21%,rgb(21, 3, 6) 0%) repeat scroll 0 0;
}

.demure {
    background: transparent linear-gradient(to bottom,rgb(93, 82, 163) 21%,rgb(23, 20, 33) 0%) repeat scroll 0 0;
}

.glare {
    background: transparent linear-gradient(to bottom,rgb(119, 27, 159) 21%,rgb(27, 12, 29) 0%) repeat scroll 0 0;
}

.heartbeat {
    background: transparent linear-gradient(to bottom,rgb(64, 39, 45) 21%,rgb(21, 16, 17) 0%) repeat scroll 0 0;
}

.moonlit-lover {
    background: transparent linear-gradient(to bottom,rgb(63, 97, 106) 21%,rgb(10, 12, 10) 0%) repeat scroll 0 0;
}

.bliss {
    background: transparent linear-gradient(to bottom,rgb(23, 24, 39) 21%,rgb(8, 8, 12) 0%) repeat scroll 0 0;
}

.seeker {
    background: transparent linear-gradient(to bottom,rgb(17, 36, 43) 21%,rgb(6, 12, 14) 0%) repeat scroll 0 0;
}

.the-dream {
    background: transparent linear-gradient(to bottom,rgb(55, 62, 78) 21%,rgb(18, 14, 13) 0%) repeat scroll 0 0;
}

.vicious-mind {
    background: transparent linear-gradient(to bottom,rgb(63, 56, 32) 21%,rgb(8, 14, 14) 0%) repeat scroll 0 0;
}

.timeline {
    background: transparent linear-gradient(to bottom,rgb(43, 28, 28) 21%,rgb(12, 8, 8) 0%) repeat scroll 0 0;
}

.among-us {
    background: transparent linear-gradient(to bottom,rgb(21, 21, 21) 21%,rgb(4, 6, 8) 0%) repeat scroll 0 0;
}

.turns-to-dust-remix {
    background: transparent linear-gradient(to bottom,rgb(141, 53, 64) 21%,rgb(18, 17, 18) 0%) repeat scroll 0 0;
}

.celeste {
    background: transparent linear-gradient(to bottom,rgb(201, 135, 120) 21%,rgb(21, 23, 25) 0%) repeat scroll 0 0;
}

.fantasy-remix {
    background: transparent linear-gradient(to bottom,rgb(162, 147, 206) 21%,rgb(27, 27, 27) 0%) repeat scroll 0 0;
}

.sign-of-time {
    background: transparent linear-gradient(to bottom,rgb(112, 122, 59) 21%,rgb(21, 23, 25) 0%) repeat scroll 0 0;
}

.exhilaration-remix {
    background: transparent linear-gradient(to bottom,rgb(119, 134, 182) 21%,rgb(34, 37, 40) 0%) repeat scroll 0 0;
}

.experiences-album {
    background: transparent linear-gradient(to bottom,rgb(23, 24, 28) 21%,rgb(17, 19, 20) 0%) repeat scroll 0 0;
}

.breathe {
    background: transparent linear-gradient(to bottom,rgb(172, 73, 118) 21%,rgb(33, 31, 37) 0%) repeat scroll 0 0;
}

.fanciful {
    background: transparent linear-gradient(to bottom,rgb(72, 58, 111) 21%,rgb(15, 18, 27) 0%) repeat scroll 0 0;
}

.white-dwarf {
    background: transparent linear-gradient(to bottom,rgb(146, 21, 53) 21%,rgb(35, 4, 13) 0%) repeat scroll 0 0;
}

.magical-forest {
    background: transparent linear-gradient(to bottom,rgb(119, 123, 215) 21%,rgb(15, 15, 25) 0%) repeat scroll 0 0;
}

.escape-with-you-remix {
    background: transparent linear-gradient(to bottom,rgb(142, 148, 208) 21%,rgb(25, 22, 24) 0%) repeat scroll 0 0;
}

.otherworld-remix {
    background: transparent linear-gradient(to bottom,rgb(69, 28, 78) 21%,rgb(6, 2, 8) 0%) repeat scroll 0 0;
}

.two-ways {
    background: transparent linear-gradient(to bottom,rgb(94, 40, 26) 21%,rgb(1, 2, 2) 0%) repeat scroll 0 0;
}

.out-there {
    background: transparent linear-gradient(to bottom,rgb(232, 133, 128) 21%,rgb(22, 26, 31) 0%) repeat scroll 0 0;
}

.who-am-i-without-you {
    background: transparent linear-gradient(to bottom,rgb(54 53 146) 21%,rgb(15 10 29) 0%) repeat scroll 0 0;
}

.hold-on-to-me {
    background: transparent linear-gradient(to bottom,rgb(163 180 85) 21%,rgb(30 30 33) 0%) repeat scroll 0 0;
}

.euphoria-remix {
    background: transparent linear-gradient(to bottom,rgb(216 147 181) 21%,rgb(36 29 35) 0%) repeat scroll 0 0;
}

.worthy-of-life {
    background: transparent linear-gradient(to bottom,rgb(70 33 15) 21%,rgb(14 9 5) 0%) repeat scroll 0 0;
}

.stay-remix {
    background: transparent linear-gradient(to bottom,rgb(46 56 83) 21%,rgb(18 17 21) 0%) repeat scroll 0 0;
}
