html, body {
    margin: 0px;
    overflow: hidden;
}

/* mediaelement */

.mejs__container, .mejs__controls {
    background: transparent!important;
}

.mejs__container {
    width: 100%!important;
    min-width: 100%!important;
}

.mejs__controls {
    display: flex!important;
    flex-direction: column!important;
    padding: 0!important;
}

.mejs__button {
    width: 100%!important;
}

.mejs__button>button {
    overflow: visible!important;
}

.mejs__button, .mejs__time, .mejs__time-rail {
    height: 0px!important;
}

.mejs__time-rail {
    padding: 0!important;
    width: 100%!important;
    margin: 0!important;
}

.mejs__time {
    height: 2rem!important;
    padding: 0!important;
    display: flex!important;
    justify-content: space-between!important;
}

.mejs__play button, .mejs__pause button {
    margin: 0;
    top: -0.5rem;
}

.mejs__currenttime, .mejs__duration{
    align-self: flex-end!important;
}

.mejs__play button::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23fff' viewBox='4 3.5 9 9'%3E%3Cpath d='m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z'/%3E%3C/svg%3E");
}

.mejs__pause button::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23fff' viewBox='4 3.5 9 9'%3E%3Cpath d='M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z'/%3E%3C/svg%3E");
}

.mejs__volume-button button {
    margin: 0;
    top: -3.05rem;
    right: 3.5rem;
}

.mejs__volume-button.mejs__mute button::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23fff' viewBox='1 1.5 13 13'%3E%3Cpath d='M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z'/%3E%3Cpath d='M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z'/%3E%3Cpath d='M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z'/%3E%3C/svg%3E");
}

.mejs__volume-button.mejs__unmute button::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23fff' viewBox='1 1.5 13 13'%3E%3Cpath d='M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zm7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

.mejs__horizontal-volume-slider {
    width: 100%!important;
    height: 0!important;
}

.mejs__horizontal-volume-total {
    background:hsla(0,0%,100%,.3)!important;
    top: -2.75rem!important;
    right: 0!important;
    left: unset!important;
    cursor: pointer;
}

.mejs__pause svg.mejs__icon-pause, .mejs__play svg.mejs__icon-play, .mejs__replay svg.mejs__icon-replay {
    display: none;
}

/* player style */

#player {
    height: 100vh;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}

#controls {
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#music {
    width: 100%;
}

#cover {
    overflow-y: hidden;
    flex: 1 1 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#box-1 {
    overflow-y: hidden;
    height: 100%;
}

#box-2 {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

#box-3 {
    min-width: 80px;
    position: relative;
    height: 100%;
    width: 100%;
}

#image {
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-position: center top!important;
    height: 100%;
    position: relative;
}

/* player color */

.player-color {
    background: rgb(23, 24, 28);
}


/* Track Styles */
.maybe-remix {
    background: rgb(92, 98, 146);
}

.quity {
    background: rgb(89, 68, 49);
}

.floating-ep {
    background: rgb(220, 114, 114);
}

.gris-remix {
    background: rgb(76, 20, 25);
}

.demure {
    background: rgb(93, 82, 163);
}

.glare {
    background: rgb(119, 27, 159);
}

.heartbeat {
    background: rgb(64, 39, 45);
}

.moonlit-lover {
    background: rgb(63, 97, 106);
}

.bliss {
    background: rgb(23, 24, 39);
}

.seeker {
    background: rgb(17, 36, 43);
}

.the-dream {
    background: rgb(55, 62, 78);
}

.vicious-mind {
    background: rgb(63, 56, 32);
}

.timeline {
    background: rgb(43, 28, 28);
}

.among-us {
    background: rgb(21, 21, 21);
}

.turns-to-dust-remix {
    background: rgb(141, 53, 64);
}

.celeste {
    background: rgb(201, 135, 120);
}

.fantasy-remix {
    background: rgb(162, 147, 206);
}

.sign-of-time {
    background: rgb(112, 122, 59);
}

.exhilaration-remix {
    background: rgb(119, 134, 182);
}

.experiences-album {
    background: rgb(23, 24, 28);
}

.breathe {
    background: rgb(172, 73, 118);
}

.fanciful {
    background: rgb(72, 58, 111);
}

.white-dwarf {
    background: rgb(146, 21, 53);
}

.magical-forest {
    background: rgb(119, 123, 215);
}

.escape-with-you-remix {
    background: rgb(142, 148, 208);
}

.otherworld-remix {
    background: rgb(69, 28, 78);
}

.two-ways {
    background: rgb(94, 40, 26);
}

.out-there {
    background: rgb(232, 133, 128);
}

.who-am-i-without-you {
    background: rgb(54 53 146);
}

.hold-on-to-me {
    background: rgb(163 180 85);
}

.euphoria-remix {
    background: rgb(216 147 181);
}

.worthy-of-life {
    background: rgb(70 33 15);
}

.stay-remix {
    background: rgb(46 56 83);
}

.fly-again {
    background: rgb(31 92 199);
}

.paying-for-it {
    background: rgb(19 71 96);
}

.i-will-someday {
    background: rgb(252 198 174);
}

.just-stay {
    background: rgb(240 170 194);
}

.feeling {
    background: rgb(20 34 42);
}

.call-out, .call-out-instrumental {
    background: rgb(70 91 110);
}

.afterglow {
    background: rgb(6 16 21);
}

.afterglow-remix {
    background: rgb(10 18 20);
}

.snowflake-remix {
    background: rgb(0 50 88);
}

.fade-away {
    background: rgb(29 77 96);
}
