php_value display_errors 1

Options -Indexes
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html?$ / [NC,R,L]

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^dimatis.000webhostapp.com [NC]
RewriteRule ^(.*)$ https://dimatis.yizack.com/$1 [L,R=301,NC]

