    <footer class="bg-light text-dark text-left py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-lg-4">
            <h4>Stream Music</h4>
            <ul class="alt">
              <li><a target="_blank" href="https://open.spotify.com/artist/0RAT9Q5WZwzJRJgTI38zJR">Spotify</a></li>
              <li><a target="_blank" href="https://soundcloud.com/dimatis">SoundCloud</a></li>
              <li><a target="_blank" href="https://youtube.com/dimatis">Youtube</a></li>
              <li><a target="_blank" href="https://geo.itunes.apple.com/us/artist/dimatis/id1139797073?mt=1&amp;app=music">Apple Music</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-4">
            <h4>Buy Music</h4>
            <ul class="alt">
              <li>
                <a target="_blank" href="https://geo.itunes.apple.com/us/artist/dimatis/id1139797073?app=itunes">iTunes</a>
              </li>
              <li>
                <a target="_blank" href="https://dimatis.bandcamp.com/">Bandcamp</a>
              </li>
              <li>
                <a target="_blank" href="https://www.amazon.com/s?k=Dimatis&i=digital-music">Amazon</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <h4>Contact</h4>
            <ul class="icons mb-0">
              <li class="spotify pe-3">
                <a href="https://open.spotify.com/artist/0RAT9Q5WZwzJRJgTI38zJR" target="_blank"><i class="icon fab fa-spotify" aria-hidden="true"></i></a>
              </li>
              <li class="soundcloud pe-3">
                <a href="https://soundcloud.com/dimatis" target="_blank"><i class="icon fab fa-soundcloud" aria-hidden="true"></i></a>
              </li>
              <li class="youtube pe-3">
                <a href="https://youtube.com/dimatis" target="_blank"><i class="icon fab fa-youtube" aria-hidden="true"></i></a>
              </li>
              <li class="twitter pe-3">
                <a href="https://twitter.com/dimatismusic" target="_blank"><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li class="facebook pe-3">
                <a href="https://facebook.com/dimatismusic" target="_blank"><i class="icon fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="instagram">
                <a href="https://instagram.com/dimatismusic" target="_blank"><i class="icon fab fa-instagram" aria-hidden="true"></i></a>
              </li>
            </ul>
            <ul class="contact">
              <li>
                <span class="ml-2">Email: </span><a class="mx-0" href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-12 text-center mt-2 text-small">
            <p class="mb-0">© Dimatis. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>