    <link rel="icon" href="/images/dimatis-logo-1.png"/>
    <link rel="shortcut icon" href="/images/dimatis-logo-1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dimatis.css">
    <link rel="stylesheet" type="text/css" href="/css/dimatis-icon.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300">
    <link rel="canonical" href="{{ site.url }}/{{ page.path | replace: '.md', '' | replace: 'index', '' }}"/>
    <script src="https://kit.fontawesome.com/cc91b92ca8.js" crossorigin="anonymous"></script>
    <style>
 body {
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
}

#banner {
    background: url('/images/banner_bg.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

    </style>