{%- assign sorted = site.data.albums | sort: 'date' | reverse -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Albums | Dimatis</title>
    <!-- Metadatos -->
{% include meta.html %}
    <meta name="keywords" content="albums, playlist, discography, ep, duration, artists"/>
    <meta name="description" content="All Dimatis albums"/>
    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="{{ site.url }}/album"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Albums | Dimatis"/>
    <meta property="og:site_name" content="Dimatis"/>
    <meta property="og:image" content="{{ site.url }}/images/cover.jpg"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="200"/>
    <meta property="og:image:alt" content="Dimatis cover image"/>
    <meta property="og:description" content="All Dimatis albums"/>
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="{{ site.url }}/images/dimatis-logo-2.png"/>
    <meta name="twitter:title" content="Albums | Dimatis"/>
    <meta name="twitter:description" content="All Dimatis albums"/>  
    <meta name="twitter:site" content="@dimatismusic"/>
    <!-- Recursos -->
{% include head.html %}
  </head>
  <body class="bg-dark text-white">
{% include navbar.html %}
    <main class="page">
      <section>
        <div class="container py-5 text-center">
          <h4 class="text-uppercase">Albums</h4>
          <p class="mb-0">Check all my albums</p>
          <div class="row my-4">{% for item in sorted %}
            <div class="col-12 col-lg-4" id="{% if forloop.index0 > 14 %}oculto{% assign more = true %}{% else %}album{% assign more = false %}{% endif %}">
              <div class="item">
                <a href="/album/{{ item.album }}">
                  <img class="img-fluid scale-on-hover rounded-lg" src="/images/{{ item.cover }}.jpg" alt="{{ item.artists }} - {{ item.title }} ({{ item.type }})" width="300">
                  <p class="mt-2 mb-0">{{ item.title }} ({{ item.type }})</p>
                  <p><small>{{ item.artists }}</small></p>
                </a>
              </div>
            </div>{% endfor %}
          </div>{% if more == true %}
          <div class="text-uppercase">
            <a class="btn btn-outline-white rounded-pill" role="button" onclick="more()" id="more">Load more</a>
          </div>{% endif %}
        </div>
      </section>
    </main>
{% include footer.html %}
{% include scripts.html %}
    <script id="show_script">
      function more(){
        document.getElementById("more").remove();
        var x = document.querySelectorAll("#oculto");
        for (let i = 0; i < x.length; i++) {
          $(x[i]).removeAttr('id');
        }
        document.getElementById("show_script").remove();
      }
    </script>
  </body>
</html>