{%- assign sorted = site.data.tracks | sort: 'date' | reverse -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dimatis</title>
    <!-- Metadatos -->
{% include meta.html %}
    <meta name="keywords" content="dimatis, website, producer, dj, artist, panama, yizack, musician"/>
    <meta name="description" content="Dimatis is a Panamanian musician and producer."/>
    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Dimatis"/>
    <meta property="og:site_name" content="Dimatis"/>
    <meta property="og:image" content="{{ site.url }}/images/cover.jpg"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="200"/>
    <meta property="og:image:alt" content="Dimatis cover image"/>
    <meta property="og:description" content="Dimatis is a Panamanian musician and producer."/>
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="{{ site.url }}/images/dimatis-logo-2.png"/>
    <meta name="twitter:title" content="Dimatis"/>
    <meta name="twitter:description" content="Dimatis is a Panamanian musician and producer."/>  
    <meta name="twitter:site" content="@dimatismusic"/>
    <!-- Recursos -->
{% include head.html %}
    <!-- Schema.org -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@graph": [
          {
            "@type" : "WebSite",
            "name" : "Dimatis",
            "url" : "{{ site.url }}",
            "image" : "{{ site.url }}/images/dimatis-logo-2.png"
          },
          {
            "@type" : "Organization",
            "name" : "Dimatis",
            "url" : "{{ site.url }}",
            "logo" : "{{ site.url }}/images/dimatis-logo-2.png",
            "image" : "{{ site.url }}/images/cover.jpg",
            "description": "Dimatis is a Panamanian musician and producer."
          },
          {
            "@type" : ["Person","MusicGroup"],
            "@id":"https://musicbrainz.org/artist/507c89e0-5a06-4466-bef0-0ae22dd90945",
            "name" : "Dimatis",
            "alternateName": "Yizack Rangel",
            "url" : "{{ site.url }}",
            "image" : "{{ site.url }}/images/dimatis-logo-2.png",
            "description": "Dimatis is a Panamanian musician and producer.",
            "birthDate": "1998-06-15",
            "birthPlace":
            {
              "@type":"AdministrativeArea",
              "@id":"https://musicbrainz.org/area/e4038ab2-0e15-4987-855a-adf4f0878645",
              "name":"Panamá",
              "containedIn":
                {
                  "@type":"Country",
                  "@id":"https://musicbrainz.org/area/6f85633b-dff4-3fb4-babd-fb89b3628041",
                  "name":"Panama"
                }
            },
            "sameAs" :[
              "https://youtube.com/dimatis",
              "https://soundcloud.com/dimatis",
              "https://facebook.com/dimatismusic",
              "https://twitter.com/dimatismusic",
              "https://instagram.com/dimatismusic"
            ]
          }
        ]
      }
    </script>
  </head>
  <body class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-1 sticky-top">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="icon-dimatis"></i>Dimatis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="nav navbar-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" role="menu">
            <li itemprop="name" role="menuitem" class="nav-item pe-3">
              <a itemprop="url" class="nav-link active" href="/" title="Home">Home</a>
            </li>
            <li itemprop="name" role="menuitem" class="nav-item pe-3">
              <a itemprop="url" class="nav-link" href="/music" title="Music">Music</a>
            </li>
            <li itemprop="name" role="menuitem" class="nav-item pe-3">
              <a itemprop="url" class="nav-link" href="/album" title="Albums">Albums</a>
            </li>
            <li itemprop="name" role="menuitem" class="nav-item pe-3">
              <a itemprop="url" class="nav-link" href="https://yizack.com/fanlinks" title="Fanlinks">Fanlinks</a>
            </li>
            <li itemprop="name" role="menuitem" class="nav-item pe-3">
              <a itemprop="url" class="nav-link" href="/#about" title="About">About</a>
            </li>
            <li itemprop="name" role="menuitem" class="nav-item pe-3">
              <a itemprop="url" class="nav-link" href="/licensing" title="Licensing">Licensing</a>
            </li>
            <li class="nav-item" role="menuitem">
              <a class="nav-link" href="https://merch.streamelements.com/dimatis" target="_blank">Merch</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <section id="banner">
        <div class="text-center py-5">
          <img class="img-fluid rounded-circle" src="/images/dimatis-logo-2.png" width="150" height="150">
          <h1>Dimatis</h1>
          <p class="mb-0">Panamanian musician and producer</p>
        </div>
      </section>
      <section id="music" class="bg-light">
        <div class="container py-5 text-center text-dark">
          <h3 class="text-uppercase">Latest Music</h3>
          <p class="mb-0">Listen to my latest music</p>
          <div class="row my-4">{% for item in sorted %}
            <div class="col-12 col-lg-4">
              <iframe class="rounded-3" src="/player/{{ item.track }}" width="300" height="385"></iframe>
              <a href="/music/{{ item.track }}">
                <p class="mb-0">{{ item.title }}</p>
                <p><small>{{ item.artists }}</small></p>
              </a>
            </div>{% if forloop.index0 == 2 %}{% break %}{% endif %}{% endfor %}
          </div>
          <div class="text-uppercase">
            <a class="btn btn-outline-dark rounded-pill" role="button" href="/music">See more</a>
          </div>
          <div class="pt-5 pb-2" id="ig">
            <h4 class="text-uppercase">Instagram feed</h4>
          </div>
          <div class="row">
            <div class="col-lg-12 feed">
                <iframe class="rounded-lg" src="https://dev.yizack.com/instagram/feed" width="100%"></iframe>
            </div>
          </div>
        </div>
      </section>
      <section id="about">
        <div class="container py-5 text-white">
          <div class="pb-3" id="about">
            <h3 class="text-center text-uppercase">About</h3>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="text-justify text-secondary">
                <p>
                  Eliézer Yizack Rangel Baysa, also known as <a href="https://open.spotify.com/artist/0RAT9Q5WZwzJRJgTI38zJR" target="_blank" title="Dimatis on Spotify"><b>Dimatis</b></a>. He was born and raised in La Chorrera, Panama on June 15th, 1998. During 2013 he made some songs just for fun, but on August 24th, 2014, he started uploading his music on SoundCloud.<br/><br/>
                  He loves the melodic electronic music scene, his main genre is <a href="https://open.spotify.com/playlist/6Qu7co7czjjXwSEuCyCOAD" target="_blank" title="Spotify Melodic Dubstep Playlist">Melodic Dubstep</a>, but he has also adopted other genres like Chillstep, Future Garage, Chill, Liquid Drum & Bass, and Future Bass.<br/><br/>
                  Over the years, Yizack has been improving the quality of his music and has been supported by important YouTube channels like <a href="https://youtube.com/AirwaveMusicTV" target="_blank" title="AirwaveMusicTV">AirwaveMusicTV</a>, <a href="https://youtube.com/OnlyChillstep" target="_blank" title="OnlyChillstep">OnlyChillstep</a>, <a href="https://youtube.com/LaMusiqueLibre" target="_blank" title="LaMusiqueLibre">La Musique Libre</a>, <a href="https://youtube.com/MixHound" target="_blank" title="MixHound">MixHound</a>, <a href="https://youtube.com/HearWeGoCopyrightFreeMusic" target="_blank" title="HearWeGo">HearWeGo</a> and has been in love with those communities.<br/><br/>
                  Yizack is a melodic electronic music producer in Panama, his mission is to share his music with the world by providing beautiful emotions through the melodies of his songs and one day be recognized for his music in his country.<br/><br/>
                  Some artists who inspired him were: Au5, Blackmill, Chime, Collin McLoughlin, Crystal Skies, ILLENIUM, Miles Away, Said the Sky, Seven Lions, Skrux, T-Mass, Tim Schaufert, Xilent, and many others.
                </p>
              </div>
            </div>
            <div class="col-lg-4 text-center align-self-center">
              <img class="img-fluid rounded-3" src="/images/dimatis-picture.jpg">
            </div>
          </div>
        </div>
      </section>
    </main>
{% include footer.html %}
{% include scripts.html %}
  </body>
</html>