{%- assign data = site.data.tracks | where: 'track', page.track -%}
{%- assign track = data[0] -%}
{%- if track.cover -%}
  {%- assign cover = track.cover -%}
{%- else -%}
  {%- assign cover = track.track -%}
{%- endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ track.artists }} - {{ track.title }}</title>
    <!-- Metadatos -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ track.description }}"/>
    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="{{ site.url }}/music/{{ track.track }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ track.artists }} - {{ track.title }}"/>
    <meta property="og:site_name" content="Dimatis"/>
    <meta property="og:image" content="{{ site.url }}/images/{{ track.track }}.jpg"/>
    <meta property="og:image:width" content="500"/>
    <meta property="og:image:height" content="500"/>
    <meta property="og:image:alt" content="{{ track.artists }} - {{ track.title }}"/>
    <meta property="og:description" content="{{ track.description }}"/>
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="{{ site.url }}/images/{{ track.track }}.jpg"/>
    <meta name="twitter:title" content="{{ track.artists }} - {{ track.title }}"/>
    <meta name="twitter:description" content="{{ track.description }}">
    <meta name="twitter:site" content="@dimatismusic"/>
    <!-- Recursos -->
    <link rel="icon" href="/images/dimatis-logo-1.png"/>
    <link rel="shortcut icon" href="/images/dimatis-logo-1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/5.0.4/mediaelementplayer.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/audio.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/5.0.4/mediaelement-and-player.min.js"></script>
    <script src="https://kit.fontawesome.com/cc91b92ca8.js" crossorigin="anonymous"></script>
    <script src="/js/audio.js"></script>
  </head>
  <body>
    <div id="player" class="vh-100 {% if track.style %}{{ track.style }}{% elsif track.cover %}{{ track.cover }}{% else %}{{ track.track }}{% endif %}">
      <div class="position-absolute start-0 top-0 bottom-0 end-0 d-flex flex-column" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8))">   
        <div id="controls" class="text-white px-3 py-4 music-player">
          <div class="lecteur">
            <audio id="music" class="fc-media w-100">
              <source src="https://www.dropbox.com/s/{{ track.dropbox }}/?dl=1" type="audio/mpeg">
            </audio>
          </div>
        </div>
        <div id="cover" class="h-100" style="overflow-y: hidden;flex: 1 1 0%;background-color: rgba(0, 0, 0, 0.4);">
          <div class="h-100" style="overflow-y: hidden;">
            <div class="p-2 h-100 w-100 position-relative" style="box-sizing: border-box;">
              <div class="h-100 w-100 position-relative" style="min-width: 80px;">
                <div class="h-100 position-relative" style="background: url('/images/{{ cover }}.jpg'); background-repeat: no-repeat;background-size: contain; background-position: center top;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>