{%- assign sorted = site.data.tracks | sort: 'date' | reverse | where: "genre", page.genre -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.genre }} | Dimatis</title>
    <!-- Metadatos -->
{% include meta.html %}
    <meta name="keywords" content="genre, {{ page.genre }}, tag, style, electronic"/>
    <meta name="description" content="{{ page.genre }} music by Dimatis"/>
    <!-- Protocolo Open Graph -->
    <meta property="og:url" content="{{ site.url }}/{{ page.genre | replace: ' ', '-' | downcase}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ page.genre }} | Dimatis"/>
    <meta property="og:site_name" content="Dimatis"/>
    <meta property="og:image" content="{{ site.url }}/images/cover.jpg"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="200"/>
    <meta property="og:image:alt" content="Dimatis cover image"/>
    <meta property="og:description" content="{{ page.genre }} music by Dimatis"/>
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="{{ site.url }}/images/dimatis-logo-2.png"/>
    <meta name="twitter:title" content="{{ page.genre }} | Dimatis"/>
    <meta name="twitter:description" content="{{ page.genre }} music by Dimatis"/>  
    <meta name="twitter:site" content="@dimatismusic"/>
    <!-- Recursos -->
{% include head.html %}
  </head>
  <body class="bg-dark text-white">
{% include navbar.html %}
    <main>
      <section>
        <div class="container py-5 text-center">
          <h3 class="text-uppercase">{{ page.genre }}</h3>
          <p>Listen to all my music in this genre</p>
          <div class="row my-4">{% for item in sorted %}
            <div class="col-12 col-lg-4" id="{% if forloop.index0 > 14 %}oculto{% assign more = true %}{% else %}player{% assign more = false %}{% endif %}">
              <div class="item">
                <iframe class="rounded-lg" src="/player/{{ item.track }}" width="300" height="385"></iframe>
                <a href="/music/{{ item.track }}">
                  <p class="mb-0">{{ item.title }}</p>
                  <p><small>{{ item.artists }}</small></p>
                </a>
              </div>
            </div>{% endfor %}
          </div>{% if more == true %}
          <div class="text-uppercase">
            <a class="btn btn-outline-white rounded-pill" role="button" onclick="more()" id="more">Load more</a>
          </div>{% endif %}
        </div>
      </section>
    </main>
{% include footer.html %}
{% include scripts.html %}
    <script id="show_script">
      function more(){
        document.getElementById("more").remove();
        var x = document.querySelectorAll("#oculto");
        for (let i = 0; i < x.length; i++) {
          $(x[i]).removeAttr('id');
        }
        document.getElementById("show_script").remove();
      }
    </script>
  </body>
</html>